.cardContainer{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    background-color: #263849;
    /* border: 1px solid lightgoldenrodyellow; */
    border-radius: 20px;
    opacity: 0.9;
}


.photoProduct img{
    border-radius: 5px;

}

.titleProduct{
    
    font-family: 'Times New Roman', Times, serif;
    color: lightgoldenrodyellow;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
	.cardContainer{
        grid-template-columns: repeat(4, 3fr);
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .cardContainer{
        grid-template-columns: repeat(3, 4fr);
    }
}

@media screen and (max-width: 576px) {
   
}

/* For small devices */
@media screen and (max-width: 350px) {
    .cardContainer{
        grid-template-columns: repeat(3, 4fr);
    }
}