.cardContainer{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    background-color: #263849;
    /* border: 1px solid lightgoldenrodyellow; */
    border-radius: 20px;
    opacity: 0.9;
}


.photoProduct img{
    border-radius: 5px;

}

.titleProduct{
    
    font-family: 'Times New Roman', Times, serif;
    color: lightgoldenrodyellow;
}

