.container{
    width: 100%;
    margin-left: 10%;

}

/* @media  screen and (min-width:768px) {
    .container{
        width: 70%;
    }
} */

.detail{
    margin-top: 20px;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 10px solid lightgoldenrodyellow;
    padding: 10px;


}

.detail__image{
    width: 50%;
    height: 200px;
    padding: 10px;
  
}

.content{
    width: 50%;
    text-align: center;
    margin-top: 10%;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
}

.content p{
    text-transform: lowercase;
    color: lightgoldenrodyellow;
    opacity: 0.5;
}

/* @media screen and (min-width:768px){
    .detail__image{
        width: 50%;
    }
    .content{
        padding-left: 3rem;
        width: 50%;
    }
} */