p {
   /* position: absolute; */
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-size: 16px;
}

span {
    color: lightgoldenrodyellow;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
	
}

/* For medium devices */
@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 576px) {
    p{
        width: 150%;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    p{
        width: 200%;
    }
}